<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="icon/favicon.ico">
   <title>Вход в систему</title>
   
   <link rel="stylesheet" href="/css/fontawesome.css">
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div style="min-height: 100%;
display: flex;
flex-direction: column;
overflow: hidden;"
   <main class="page login">
      <div class="center">
         <!-- див с ошибкой -->
         <div class="block__info">
            <%- include('./layouts/flash-message') %>
         </div>
         <div class="exit_form">
            <h3 class="login__title">Вход в систему</h3>
            <form action="/auth/login" method="post">
                  <div class="form-group">
                     <input class="form-control item" type="text" name="username" maxlength="20" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" placeholder="Логин" id="username" required>
                  </div>
                  <div class="form-group">
                     <input class="form-control item" type="password" name="password" minlength="6" id="password" placeholder="Пароль" required>
                  </div>
                  <div class="form-group">
                     <button class="btn " type="submit" >Войти</button>
                     <!-- <i class="fa-solid fa-spinner fa-spin"></i> -->
                  </div>
                  
            </form>
            
         </div>
         </div>
      </div>
   </main>
</div>
<%- include ('layouts/footer') %>