// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontHeading: 'Verdana', sans-serif;
$fontSize: 1.3rem; // где 16(px) - размер шрифта по умолчанию из макета
$fontSizeTitle: 1.8rem; // где 18(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #c03d3d; // Цвет шрифта по умолчанию
$mainColor2: #8d2c2c; // Цвет шрифта более тёмный
$mainColor3: #732424; // Цвет шрифта более тёмный
$color__bg:#242424; //Цвет фона
$color__lbg:#3b3b3b; //Более светлый цвет фона
$color__text:#fff; //Цвет шрифта
$color__darktext:rgb(59, 59, 59); //Цвет шрифта темный

/* ===== Инициализация переменных ===== */
:root {
/* ===== Цвета ===== */
--body-color: #e8e8e8;
--sidebar-color: #FFF;
--flosted-glass:rgba(255,255,255, 0.6);
--flosted-glass-sidebar:rgba(255,255,255, 0.95);
--primary-color: #c03d3d;
--primary-color-light: #e6e6ea;
--toggle-color: #DDD;
--text-color: #4b4a4a;
--text-color-title: #7e7c7c;

/* ====== Transition ====== */

--tran-03: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;
}
body.dark {
--body-color: #242424;
--sidebar-color: #3b3b3b;

--flosted-glass:rgba(36,34,38, 0.5);
--flosted-glass-sidebar:rgba(36,34,38, 0.95);
--primary-color: #c03d3d;
--primary-color-light: #4f4f52;
--toggle-color: #fff;
--text-color: #d8d8d8;
--text-color-title: #ccc;
}