// Подключение файлов стилей ===========================================================================================================================================================================================================================================================================
@import "null.scss";
@import "import.scss";


html, body {
  min-width: 320px;
}

html, body {
    min-width: 320px;
}
body {
    line-height: 1;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: var(--text-color);
    min-height: 100vh;
    background-color: var(--body-color);
    -webkit-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    transition: var(--tran-05);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.lock {
        overflow: hidden;
    }
    &.lockk {
      overflow: hidden;
  }
}

button {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #c03d3d;
  font-size: 1.3rem;

  border-radius: 10px;
  padding: 5px;
  transition: all 0.35s ease-in-out;
}
button:hover {
  cursor: pointer;
  background: $mainColor2;
}
.center {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
    &.main-index {
        max-width: 920px;
    }
}
.login {
    display:flex;
    justify-content:center;
    align-items:center;
    justify-content:center;
    }

.exit_form {
    padding:50px 0;
    max-width:450px;
    min-height:450px;
    padding:20% 50px;
    border-radius:10px;
    //box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    --elevation: 30;
    box-shadow: 0 0 calc((var(--elevation) * 0.225px) + 2px) rgba(0, 0, 0, calc(.11 * (2 - var(--background-luminance, 1)))), 0 calc(var(--elevation) * 0.4px) calc((var(--elevation) * 0.9px)) rgba(0, 0, 0, calc(.13 * (2 - var(--background-luminance, 1))));
    background-color: var(--sidebar-color);
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
    form {
        margin-top: 20px;
        height: 100%;
    }
}

.title {
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-color);
    font-family: $fontHeading;
    font-weight: 700;
    font-size: $fontSizeTitle;
    letter-spacing: 3px;
    margin-top: 1.5rem;
    margin-bottom: 2.8rem;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 3px;
}

.login__title {
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
    font-size: $fontSizeTitle;
    line-height: 110%;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
/*Таблицы*/
td {
    vertical-align: top;
    padding: 5px;
    &.leftcol {
        font-size: 20px;
        padding-left: 15px;
        width: 60px;
        background: none;
    }
}


.center.main-index {
  max-width: 920px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}


/********** Модальные окна **********/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(59, 59, 59, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 5% 0;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup.open .popup__content {
  transform: translate(0, 0);
}

.popup__body {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5% 15px 0 15px;
}

.popup__title {
  font-family: "Verdana", sans-serif;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 600;
  max-width: 350px;
}

.popup__content {
  background-color: var(--sidebar-color);
  max-width: 1100px;
  padding: 0.5rem 2.5rem 2rem;
  border-radius: 8px;
  position: relative;
  transform: translate(0, -100%);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 1px 1px #c03d3d;
}

.popup__middle {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.popup__img {
  flex: 0 1 40%;
  box-shadow: 2px 2px 5px 5px rgba(60, 60, 60, 0.25);
  border-radius: 5px;
  min-height: 200px;
  margin-bottom: 25px;
}

.popup__info {
  flex: 0 1 58%;
  
  & p {
    text-indent: 0.5rem;
    text-align: justify;
  }
  & .form-group {
    padding: 0px 10% 15px 10%;
    color: var(--text-color);
  }
  & .form-group li{
    margin-top: 0px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  & .form-group input[type=radio] {
    margin-right: 10px;
    accent-color: $mainColor;
    display: flex;
    flex-flow: column wrap;
  }
  & .form-group input[type=number] {
    -moz-appearance: textfield;
  }
  & .form-group input[type=number]::-webkit-inner-spin-button { 
  display: none;

}
  & .title_form {
    font-family: $fontHeading;
    font-size: 1.8rem;
    line-height: 1.5rem;
    font-weight: 600;
    max-width: 350px;
  }
}
.form-group {
  color: $color__text;
  font-family: $fontFamily;
  font-weight: 700;
  padding: 10px 5px 10px 5px;
  display: flex;
  >button {
      margin-left: auto;
      margin-right: auto;
      color: $color__text;
      background-color: $mainColor;
      font-size: $fontSize;
      width: 60%;
      border-radius: 10px;
      padding: 5px;
      margin-top: 30px;
  }
  >textarea {
    background-color: red;
  }
  >input {
      box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
      background-color: $color__text;
      color: $color__darktext;
      font-size: $fontSize;
      font-family: $fontFamily;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      transition: border-color 0.3s ease-in-out;
      outline: none;
      border: 2px solid #ddd; /* Border color input */
  }
  input:focus {
      border-color: $mainColor; /* Warna input saat focus */
    }
  & li >input {
      box-shadow:4px 4px 15px rgba(0, 0, 0, 0.3);
      width: 13px; 
      height: 13px;
      background-color: $color__text;
      color: $color__darktext;
      font-size: $fontSize;
      font-family: $fontFamily; 
      border-radius: 10px;
      box-sizing: border-box;
      padding: 5px;
      transition: border-color 0.3s ease-in-out;
      outline: none;
      border: 2px solid #ddd; /* Border color input */
  }
  ul >input:focus {
      border-color: $mainColor; /* Warna input saat focus */
    }
}
.text_aria {
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
      background-color: $color__text;
      color: $color__darktext;
      font-size: $fontSize;
      font-family: $fontFamily;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      transition: border-color 0.3s ease-in-out;
      outline: none;
      border: 2px solid #ddd; /* Border color input */
}
.popup__header {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  line-height: 1.8rem;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.popup__footer {
  display: flex;
  margin-bottom: 15px;
  
  & button {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #c03d3d;
  font-size: 1.3rem;
  width: 60%;
  border-radius: 10px;
  padding: 5px;
  margin-top: 30px;
  transition: all 0.35s ease-in-out;
}
& button:hover {
  cursor: pointer;
  background: $mainColor2;
}
}

.popup__close {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  color: var(--text-color);
  & i {
  font-size: 2.2rem;
}
}

/*-------*/

/*Таблицы*/
td {
  vertical-align: top;
  padding: 5px;
  &.leftcol {
  font-size: 20px;
  padding-left: 15px;
  width: 60px;
  background: none;
}
}
/*Красивое подчёркивание*/

.underline-one {
	  color: var(--text-color); /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: 900;
}
.underline-one:after {
	  content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: var(--primary-color); /* Цвет подчеркивания при появлении линии*/

    transition: width 0.5s; /* Время эффекта */
}

/*header_title */

.header_title{
    margin-left: 13px;
}
/* ===== Кнопка вверх ===== */
#button {
  display: inline-block;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  color: #d8d8d8;
  &::after {
  font-weight: normal;
  font-style: normal;
  font-size: 20em;
  line-height: 50px;
}
&:hover {
  cursor: pointer;
}
&:active {
  background-color: var(--toggle-color);
}
&.show {
  opacity: 1;
  visibility: visible;
}
}

.scroll {
  overflow: hidden;
}
.arrow-t {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--primary-color)), to(var(--text-color)));
  background-image: -o-linear-gradient(bottom, var(--primary-color), var(--text-color));
  background-image: linear-gradient(to top, var(--primary-color), var(--text-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--tran-05);
}

.arrow-b {
  transform: rotate(-180deg);
}
/* =========================== */
/* ======  Основная страница ====== */
.home {
  position: absolute;
  display: block;
  top: 0;
  top: 0;
  left: 280px;
  height: 100vh;
  width: calc(100% - 250px);
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
  z-index: 1;
}


body.dark .home .text {
  color: var(--text-color);
}

.sidebar.close~.home {
  left: 110px;
  height: 100vh;
  width: calc(100% - 110px);
}
/* ======  Мобильный header ====== */
#mobile_header {
  width: 100%;
  background-color: var(--sidebar-color);
  position: fixed;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
  top: 0;
  height: 70px;
  z-index: 20;
}

.mobile-title {
  font-size: 36px;
  font-weight: 900;
  margin-top: 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--primary-color)), to(var(--text-color-title)));
  background-image: -o-linear-gradient(bottom, var(--primary-color), var(--text-color-title));
  background-image: linear-gradient(45deg, var(--primary-color) 15%, var(--text-color-title));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

.menu-box {
  display: inline-block;
  line-height: 45px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 10px;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 15px;
  top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  & i {
    font-size: 28px;
  }
}

.close_mobile {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 10px;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 35px;
  position: absolute;
  left: 248px;
  top: 10px;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
      text-align: center;
    vertical-align: bottom;
  & i {
    line-height: 4px;
    font-size: 25px;
  }
}

.mobile-close {
  left: -300px;
}

.mobile-open {
  left: 0;
}
/* =========================== */
/* ===== Многоразовый код===== */
.general {
  height: 100%;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 10px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}
/* =========================== */
.mobile-toggle {
  font-size: 35px;
  align-items:center
}
html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}
/*Блок со списком всех пользователей*/
.users{
  &__body{
    padding: 0 15% 0 15%;
}
&__item {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--sidebar-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
}
&__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $mainColor;
  font-size: $fontSizeTitle;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 10px 0;
}
&__information {
  width: 90%;
  padding-left: 25px;
  display: flex;
}

&__roles {
  font-weight: 700;
  margin-top: 10px;
}
&__number {
  margin-top: 10px;
  font-weight: 700;
  margin-left: auto;
}
}
@media (max-width: 600px) {

    .users{
      &__body{
    padding: 0 15px 0 15px;
}
    &__information {
    width: 0;
    flex-direction: column;
    padding-left: 25px;
    display: flex;
    }

    &__roles {
    font-weight: 700;
    margin-top: 10px;
    }
    &__number {
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    }
}
}
/* блок со списком всех заявок */
.orders{
  &__body{
    width: 90%;
    max-width: 1000px;
    margin: 1rem auto;
    margin-bottom: 20rem;
  }
  &__item {
    transform: translateZ(0);
    flex-direction:column;
    padding: 1.5rem  2rem 2rem 2rem;
    background-color: var(--sidebar-color);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 1rem 0;
    border-radius: 0.5rem;
    &>.orders__toggle {
      display: none;
      position: absolute;
      opacity: 0;
    }
    
    & i{
      color: var(--text-color);
      position: absolute;
      right: 20px;
      top: 0px;
      cursor: pointer;
      transition: 0.4s transform;
    }
  }
  
  &__header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    color: var(--text-color);
    font-size: $fontSizeTitle;
    font-family: $fontHeading;
    margin-top: 5px;
    &::after {
      content: "\002B";
      font-size: 2rem;
      position: absolute;
      right: 1rem;
    }
    &.active::after {
      content: "\2212";
    }
  }
  &__item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, var(--text-color), transparent) 1;
  }
  &__title {
    padding: 0rem 1rem 0rem 0.5rem;
    min-height: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: $fontHeading;
    margin-top: 5px;
  }
  &__information {
    width: 100%;
    padding: 15px 0px 0px 15px;
  }
  &__data {
    padding: 10px 5px 10px 5px;
    font-family: $fontFamily;
    font-size: $fontSize;

  & span {
    letter-spacing: 1px;
    font-weight: 600;
  }
}
&__roles {
  font-weight: 700;
  margin-top: 10px;
}
&__button {
  font-weight: 700;
  display: flex;
  & button {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 30px;
  }
}
.orders-input{
  width: 200px;
  margin-top: 10px;
}
&__perform {
    margin: 10px 0px 0px 20px;
    font-weight: 700;

  }
}
@media (max-width: 600px) { 
    .orders__button button {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
}
}
.empty-title {
    text-align: center;
    color: var(--text-color);
    font-family: $fontHeading;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1.5rem;
    margin-bottom: 2.8rem;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 3px;
}


// уведомление с ошибкой
div .messages {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.messages {
  list-style: none;
  font-size: $fontSize;
  color: #4b4a4a;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  align-content: center;
}

ul.messages * {
  padding: 8px 12px;
  transition: all 5s ease;
}

.messages .error {
  background-color: #f87171;
  text-align: center;
}
.messages .success {
  background-color: #6ee7b7;
  text-align: center;
}
.messages .warning {
  background-color: #ffc400;
  text-align: center;
}
.messages .info {
  background-color: #93c5fd;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */